In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])

In [8]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [22]:
ranger = range(15)

In [23]:
ranger

range(0, 15)

In [24]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [26]:
df = DataFrame(randn(25).reshape((5,5)),index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [27]:
df

       col1      col2      col3      col4      col5
A -0.085187 -1.154807 -0.971305 -0.704489  1.602779
B -0.661490  0.750205  0.912714 -0.583196  0.094982
D  0.226094 -0.343770  0.240419  0.782322 -0.715709
E  0.008576  0.083872  1.501801  2.200562  1.502282
F  1.236633  1.226882  0.768317  0.650050 -0.787701

In [28]:
df2 = df.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [29]:
df2

       col1      col2      col3      col4      col5
A -0.085187 -1.154807 -0.971305 -0.704489  1.602779
B -0.661490  0.750205  0.912714 -0.583196  0.094982
C       NaN       NaN       NaN       NaN       NaN
D  0.226094 -0.343770  0.240419  0.782322 -0.715709
E  0.008576  0.083872  1.501801  2.200562  1.502282
F  1.236633  1.226882  0.768317  0.650050 -0.787701

In [30]:
new_cols = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [31]:
df2.reindex(columns = new_cols)

       col1      col2      col3      col4      col5  col6
A -0.085187 -1.154807 -0.971305 -0.704489  1.602779   NaN
B -0.661490  0.750205  0.912714 -0.583196  0.094982   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.226094 -0.343770  0.240419  0.782322 -0.715709   NaN
E  0.008576  0.083872  1.501801  2.200562  1.502282   NaN
F  1.236633  1.226882  0.768317  0.650050 -0.787701   NaN

In [35]:
df.reindex(index=['A', 'B', 'C', 'D', 'E', 'F'], columns=new_cols)

       col1      col2      col3      col4      col5  col6
A -0.085187 -1.154807 -0.971305 -0.704489  1.602779   NaN
B -0.661490  0.750205  0.912714 -0.583196  0.094982   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.226094 -0.343770  0.240419  0.782322 -0.715709   NaN
E  0.008576  0.083872  1.501801  2.200562  1.502282   NaN
F  1.236633  1.226882  0.768317  0.650050 -0.787701   NaN